/* footer.css */

.footer {
    background-image: linear-gradient(to right, #8BD8DB, #8DD9A7, #95D273);
    color: #fff; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0; 
    width: 100%;
    
  }
  
  .menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
  }
  
  .menu-icon {
    width: 24px;
    height: 24px;
  }
  